
<li>
<b>  <%= link_to 'employee',:controller => 'Employee', :action => 'new'%></b>
</li>
<li>
<b> <%= link_to 'department',:controller => 'Department', :action => 'new' %></b>
</li>
<li>
<b>  <%= link_to 'designation',:controller => 'Designation', :action => 'new' %></b>
</li>

<li>
<b> <%= link_to 'user',:controller => 'User', :action => 'new' %></b>
</li>




